@{
  Layout = "_Layout";
}
@model Factory.Models.Machine
<h4>Add a new machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)
  
  @Html.LabelFor(model => model.MachineInstall)
  @Html.TextBoxFor(model => model.MachineInstall)

  <input type="submit" value="Add a new Machine" class="btn btn-default" />
}

<p>@Html.ActionLink("Show All Machines", "Index")</p>