@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
<h2>Engineer Details</h2>
<hr /> 
<h3>Name: @Html.DisplayFor(model => model.EngineerName)</h3>

@if(@Model.Machines.Count == 0)
{
  <p>This Engineer isnt working on any machines</p>
} 
else
{
  <h4>Machines:</h4>
  <ul>
  @foreach(EngineerMachine join in Model.Machines)
  {
    <li>@join.Machine.MachineName</li>
    @using (Html.BeginForm("RemoveMachine", "Engineers"))
    {
      @Html.Hidden("EngineerMachineId", @join.EngineerMachineId)
      <input type="submit" value="Remove" />
    }
  }
  </ul>
}

<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineerr", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add Machine", "AddMachine", new { id = Model.EngineerId })</p>