@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.EngineerName): Hired @Html.DisplayFor(model => model.EngineerDate)</h3>


@if(@Model.Machines.Count == 0)
{
  <p>This Engineer is not working on any machines</p>
}
else
{
  <h4>Machines Currently Working On</h4>
  <ul>
  @foreach(var join in Model.Machines)
  {
    <li>@join.Machine.MachineName</li>
  }
  </ul>
}
@if(@Model.Expertises.Count == 0)
{
  <p> This Engineer has not been assigned an expertise</p>
}
else
{
  <h4>Expertise</h4>
  <ul>
    @foreach(var join in Model.Expertises)
    {
      <li>@join.Expertise.ExpertiseArea</li>
      @using (Html.BeginForm("RemoveExpertise", "Engineers"))
      {
        @Html.Hidden("EngineerExpertiseId", @join.EngineerExpertiseId)
        <input type="submit" value="Remove" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add Machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add Expertise", "AddExpertise", new { id = Model.EngineerId })</p>
